html,
body {
  height: 100vh;
  margin: 0; /
}

body {
  background-color: #706b6b;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  gap: 2rem; /
  /* padding: 1rem; */
}


.left-part {
  width: 40%; 
  min-height: 60vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  border-radius: 10px;
  padding: 2rem;
}


.right-part {
  width: 60%;
}

.card {
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

.logo {
  max-width: 60%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 1px #1a1919;
}

.catalogue {
  max-width: 80%;
  border-radius: 8px;
}

h1 {
  font-weight: 600;
  font-size: 1.75rem;
}

h2 {
  margin: 0 0 0.75rem;
  font-weight: 400;
  font-size: 1.05rem;
  color: #dcdcdc;
}
.catalog-title {
  margin: 0 0 0.75rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #dcdcdc;
}
p {
  color: #e8e8e8;
}

.contact a {
  color: #ffd3a5;
  text-decoration: none;
  font-weight: 600;
}

.contact a:hover {
  text-decoration: underline;
}

.basic-footer {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.65);
}




@media (max-width: 768px) {
  body {
    flex-direction: column-reverse;
    align-items:center;
    height: 150%;
  }
  .left-part,
  .right-part {
    width: 50%;
    margin: 0;
  }
  .card {
    width: 100%;
    padding: 1rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1rem;
  }
}
